<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" ng-if="isLoggedIn()">

	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">

		<!-- Sidebar user panel (optional) -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="images/user2-160x160.jpg" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>{{LoginUser.name}}</p>
				<!-- Status -->
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>

		<!-- search form -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Buscar...">
				<span class="input-group-btn">
					<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</form>
		<!-- /.search form -->

		<!-- Inicio: menu lateral -->
		<ul class="sidebar-menu" data-widget="tree">

			<li class="treeview">
				<a href="#">
					<i class="fa fa-object-group"></i>
					<span>Proyectos</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li class="treeview" ng-repeat="project in projects">
						<a href="#"><i class="fa fa-circle-o"></i> {{project.name}}
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li ng-if="LoginUserLevel == 1"><a ui-sref="configuratorManagement({projectId: project._id})"><i class="fa fa-circle-o"></i> Configurador</a></li>
							<li><a ui-sref="generatorManagement({projectId: project._id})"><i class="fa fa-circle-o"></i> Generador</a></li>
						</ul>
					</li>
					<li><a ui-sref="projectList"><i class="fa fa-edit"></i>Configuración</a></li>
				</ul>
			</li>

			<li><a ui-sref="templateList"><i class="fa fa-book"></i> <span>Plantillas</span></a></li>

			<li class="header">ADMINISTRACIÓN</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-users"></i>
					<span>Acceso</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li><a ui-sref="userList"><i class="fa fa-circle-o"></i> Usuarios</a></li>
					<li><a ui-sref="rolList"><i class="fa fa-circle-o"></i> Roles</a></li>
				</ul>
			</li>
		<!--</ul>-->

		</ul>
		<!-- Fin: menu lateral -->


	</section>
	<!-- /.sidebar -->
</aside>
