<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>TFM | Uex</title>
		<link rel="icon" type="image/png" href="favicon.ico"/>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

		<link rel="stylesheet" href="css/app.min.css">
		<link rel="stylesheet" href="css/bootstrap-nav-wizard.css">
		<link rel="stylesheet" href="css/assets.css">
	</head>
  	<body ng-app='tfm.uex' class="hold-transition skin-blue sidebar-mini sidebar-collapse fixed" ng-class="isLoggedIn() ? 'skin-blue' : 'login-page'" ng-controller='MainController'>
		<div class="wrapper">
			<ng-include src="'app/views/layouts/_header.html'"></ng-include>

			<!-- Left side column. contains the logo and sidebar -->
			<aside class="main-sidebar" ng-if="isLoggedIn()">

				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar">

				<!-- Sidebar user panel (optional) -->
				<div class="user-panel">
					<div class="pull-left image">
					<img src="images/userDefault.png" class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
					<p>{{LoginUser.name}}</p>
					<!-- Status -->
					<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>

					<!-- search form -->
				<form class="sidebar-form">
					<div class="input-group">
						<input ng-change="findProject(filter);" ng-model="filter" type="text" name="q" class="form-control" placeholder="Buscar proyecto...">
						<span class="input-group-btn">
							<button name="search" id="search-btn" class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
				<!-- /.search form -->

				<!-- Inicio: menu lateral -->
				<ul class="sidebar-menu" data-widget="tree">

					<li class="treeview">
					<a href="#">
						<i class="fa fa-object-group"></i>
						<span>Proyectos</span>
						<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li class="treeview" ng-repeat="project in projects">
						<a href="#"><i class="fa fa-circle-o"></i> {{project.name}}
							<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li ng-if="LoginUser.rol.level == 1"><a ui-sref="configuratorManagement({projectId: project._id})"><i class="fa fa-circle-o"></i> Configurador</a></li>
							<li><a ui-sref="generatorManagement({projectId: project._id})"><i class="fa fa-circle-o"></i> Generador</a></li>
						</ul>
						</li>
						<li><a ui-sref="projectList"><i class="fa fa-edit"></i>Configuración</a></li>
					</ul>
					</li>

					<li><a ui-sref="templateList"><i class="fa fa-book"></i> <span>Plantillas</span></a></li>


					<li class="header" ng-if="LoginUser.rol.level == 1">ADMINISTRACIÓN</li>
					<li class="treeview" ng-if="LoginUser.rol.level == 1">
						<a href="#">
							<i class="fa fa-users"></i>
							<span>Acceso</span>
							<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a ui-sref="userList"><i class="fa fa-circle-o"></i> Usuarios</a></li>
							<li><a ui-sref="rolList"><i class="fa fa-circle-o"></i> Roles</a></li>
						</ul>
					</li>
				</ul>

				</ul>
				<!-- Fin: menu lateral -->


				</section>
				<!-- /.sidebar -->
			</aside>

		<!-- =============================================== -->
		<!-- Inicio: Contenido pagina                        -->
		<!-- =============================================== -->
		<div class="content-wrapper">
			<!--Inyeccion de vistas-->
			<ui-view></ui-view>
		</div>
		<!-- =============================================== -->
		<!-- Fin: Contenido pagina                           -->
		<!-- =============================================== -->


		<ng-include src="'app/views/layouts/_footer.html'"></ng-include>



		</div>
		<!-- ./wrapper -->

		<!-- REQUIRED JS SCRIPTS -->

		<!-- =============================================== -->
		<!-- Inicio: Incluir librerias y css                 -->
		<!-- =============================================== -->

		<script type="text/javascript" src="js/assets.min.js"></script>

		<!-- Inicio: Controladores angular -->
		<script src="js/app.js"></script>
		<script src="js/SystemConstant.js"></script>
		<script src="js/ProjectListController.js"></script>
		<script src="js/ConfiguratorManagementController.js"></script>
		<script src="js/GeneratorManagementController.js"></script>
		<script src="js/RolListController.js"></script>
		<script src="js/UserListController.js"></script>
		<script src="js/UserDetailController.js"></script>
		<script src="js/TemplateDetailController.js"></script>
		<script src="js/TemplateListController.js"></script>
		<script src="js/LoginController.js"></script>
		<script src="js/MainController.js"></script>
		<script src="js/HttpErrorController.js"></script>
		<script src="js/DashboardController.js"></script>
		<script src="js/SignupController.js"></script>
		<script src="js/AmChartService.js"></script>
		<script src="js/UserService.js"></script>
		<script src="js/RolService.js"></script>
		<script src="js/ProjectService.js"></script>
		<script src="js/QuestionService.js"></script>
		<script src="js/TopicService.js"></script>
		<script src="js/AnswerService.js"></script>
		<script src="js/BootstrapTableService.js"></script>
		<script src="js/DashboardService.js"></script>
		<script src="js/TemplateService.js"></script>
		<script src="js/MediatoryService.js"></script>
		<!-- Fin: Controladores angular -->

		<script>
		$(document).ready(function () {
			$('.sidebar-menu').tree()
		})
		</script>

	</body>
</html>
