
<!-- Content Header (Page header) -->
<section class="content-header" ng-init="init();">
    <h1>
        Proyecto
        <small>{{project.name}}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Proyecto</li>
    </ol>
</section>

<!-- Main content -->
<section class="content" >

    <!-- Default box -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Configuración del proyecto</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
						<ul class="nav nav-wizard">
							<li ng-class="{ active: isSet($index)}" ng-repeat="topic in topics">
								<a href ng-click="setTab($index); selectTopic(topic._id);">{{$index + 1}}. {{topic.name}}
									&nbsp;
									<span class="fa fa-pencil" ng-click="readTopic(topic._id, 2)"  data-toggle="modal" data-target="#modal-topic"></span>
									&nbsp;
									<span class="fa fa-trash" ng-click="deleteTopic(topic._id)"></span>
								</a>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href>
									Configuración <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li role="presentation"><a role="menuitem" tabindex="-1" href data-toggle="modal" data-target="#modal-topic">Nuevo topic</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" href  data-toggle="modal" data-target="#modal-question">Nuevo pregunta</a></li>
									<li role="presentation" class="divider"></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#modal-template" href="">Guardar como plantilla</a></li>
								</ul>
							</li>
						</ul>

						<div class="tab-content" ng-repeat="topic in topics" ng-if="isSet($index)">
							<div class="container">
								<div class="row" ng-repeat="question in topic.questions">
									<div class="panel panel-default">
										<div class="panel-heading">
											<div class="row">
												<table class="col-sm-12">
													<tbody>
														<tr>
															<td class="col-sm-1">
																<h4>{{$index + 1}}.</h4>
															</td>
															<td class="col-sm-5 col-md-6 col-lg-7">
																{{question.description}}
															</td>
															<td class="col-sm-6 col-md-5 col-lg-4 text-right">
																<a href class="text-primary infoBulle a_edit" data-id="2885924" data-placement="top" ng-click="readQuestion(question._id, 2);" title="Modificar" data-original-title="Modificar" data-toggle="modal" data-target="#modal-question">
																	<span class="fa fa-pencil fa-lg"></span>
																</a>
																<a href class="text-danger infoBulle a_supp" title="" data-placement="top" data-id="2885924" ng-click="deleteQuestion(question._id);" data-original-title="Eliminar">
																	<span class="fa fa-trash fa-lg"></span>
																</a>
																<a href class="text-success infoBulle a_dupli" data-id="2885924" ng-click="selectQuestion(question._id);" data-placement="top" title="Nueva respuesta"  data-toggle="modal" data-target="#modal-answer" data-original-title="Nueva respuesta">
																	<span class="fa fa-plus fa-lg"></span>
																</a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div><!-- panel-heading-->
										<div class="panel-body">
											<div class="row" ng-repeat="answer in question.answers">
												<div class="col-xs-12  content-quest ">
													<div class="box-mobil box-mobil-btn btn-block">
														<input disabled type="radio" name="{{question._id}}" id="radio_9558915">
														<label for="radio_9558915">
															&nbsp;&nbsp;{{answer.description}}
														</label>
														<div class="text-right">
															<a href class="text-primary infoBulle a_edit" data-id="2885924"  ng-click="readAnswer(question._id, answer._id, 2);" data-placement="top" title="Modificar" data-original-title="Modificar" data-toggle="modal" data-target="#modal-answer">
																<span class="fa fa-pencil fa-lg"></span>
															</a>
															<a href class="text-danger infoBulle a_supp" title="" data-placement="top" ng-click="deleteAnswer(question._id, answer._id);" data-id="2885924" data-original-title="Eliminar">
																<span class="fa fa-trash fa-lg"></span>
															</a>
															<a href class="text-success infoBulle a_dupli" data-id="2885924" data-placement="top" title="Nueva pregunta asociada" data-original-title="Nueva pregunta asociada">
																<span class="fa fa-plus fa-lg"></span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div><!-- panel-body-->
									</div>
								</div>
							</div>
						</div>



                    </div>
                </div>

            </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            Gestión de identificación de riesgos
        </div>
        <!-- /.box-footer-->

    </div>
    <!-- /.box -->

</section>
<!-- /.content -->

<!-- Inicio: Popup para creat/actualizar un topic-->
<div id="modal-topic" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" ng-show="mode == 1">Crear topic</h4>
				<h4 class="modal-title" ng-show="mode == 2">Actualizar topic</h4>
            </div>
            <div class="modal-body">
				<div class="alert alert-danger alert-dismissible"  ng-if="error!= null">
					<div>
						<strong>Error!</strong> {{error}}.
					</div>
				</div>
				<div class="form-group row">
					<label for="topicName" class="col-md-4 control-label">Nombre (*)</label>
					<div class="col-md-7">
						<input type="text" id="topicName" ng-model="topic.name" class="form-control"/>
					</div>
				</div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-success" ng-show="mode == 1" ng-click="createTopic();">Crear topic</button>
				<button type="button" class="btn btn-success" ng-show="mode == 2" ng-click="updateTopic();">Actualizar topic</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin: Popup para crear/actualizar un topic-->

<!-- Inicio: Popup para creat/actualizar una pregunta-->
<div id="modal-question" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" ng-show="mode == 1">Crear pregunta</h4>
				<h4 class="modal-title" ng-show="mode == 2">Actualizar pregunta</h4>
            </div>
            <div class="modal-body">
					<div class="alert alert-danger alert-dismissible"  ng-if="error!= null">
					<div>
						<strong>Error!</strong> {{error}}.
					</div>
				</div>
				<div class="form-group row">
					<label for="questionDescription" class="col-md-4 control-label">Pregunta (*)</label>
					<div class="col-md-7">
						<input type="text" id="questionDescription" ng-model="question.description" class="form-control"/>
					</div>
				</div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-success" ng-show="mode == 1" ng-click="createQuestion();">Crear pregunta</button>
				<button type="button" class="btn btn-success" ng-show="mode == 2" ng-click="updateQuestion();">Actualizar pregunta</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin: Popup para crear/actualizar una pregunta-->

<!-- Inicio: Popup para creat/actualizar una respuesta-->
<div id="modal-answer" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" ng-show="mode == 1">Crear respuesta</h4>
				<h4 class="modal-title" ng-show="mode == 2">Actualizar respuesta</h4>
			</div>
			<div class="modal-body">
					<div class="alert alert-danger alert-dismissible" ng-if="error!= null">
					<div>
						<strong>Error!</strong> {{error}}.
					</div>
				</div>
				<div class="form-group row">
					<label for="answerDescription" class="col-md-4 control-label">Respuesta (*)</label>
					<div class="col-md-7">
						<input type="text" id="answerDescription" ng-model="answer.description" class="form-control"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="answerRequirement" class="col-md-4 control-label">Requisito (*)</label>
					<div class="col-md-7">
						<input type="text" id="answerRequirement" ng-model="answer.requirement" class="form-control"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" ng-show="mode == 1" ng-click="createAnswer();">Crear respuesta</button>
				<button type="button" class="btn btn-success" ng-show="mode == 2" ng-click="updateAnswer();">Actualizar respuesta</button>
			</div>
		</div>
	</div>
</div>
<!-- Fin: Popup para crear/actualizar una respuestas-->

<!-- Inicio: Popup para crear una plantilla-->
<div id="modal-template" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" >Guardar plantilla</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger alert-dismissible" ng-if="error!= null">
					<div>
						<strong>Error!</strong> {{error}}.
					</div>
				</div>
				<div class="form-group row">
					<label for="templateName" class="col-md-4 control-label">Nombre plantilla (*)</label>
					<div class="col-md-7">
						<input type="text"  id="templateName" ng-model="template.name" class="form-control"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" ng-click="createTemplate();">Guardar plantilla</button>
			</div>
		</div>
	</div>
</div>
<!-- Fin: Popup para crear una plantilla-->
