<!-- Content Header (Page header) -->
<section class="content-header" ng-init="vm.init(); vm.loadProjectList();">
	<h1>
		Proyectos
		<small>Mantenimiento y gestión de proyectos</small>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Proyectos</li>
	</ol>
</section>

<!-- Main content -->
<section class="content" >

	<!-- Default box -->
	<div class="box box-info">
		<div class="box-header with-border">
			<h3 class="box-title">Configuración de proyectos</h3>
		</div>
		<div class="box-body" >
			<div id="crear"  class="columns columns-right btn-group pull-right">
				<button id="crear-project" class="btn btn-default" data-toggle="modal" data-target="#modal-project"  ng-click="vm.mode = 1;"  >
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Crear proyecto
				</button>
				<button id="crear-app" class="btn btn-default" data-toggle="modal" data-target="#modal-app"  ng-click="vm.mode = 1;"  >
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Crear aplicación
				</button>
			</div>

			<div class="table-responsive my-table">
				<table id="table" bs-table-control="vm.bsTableProject"></table>
			</div>

		</div>
		<!-- /.box-body -->
		<div class="box-footer">
		Mantenimiento y gestión de proyectos
		</div>
		<!-- /.box-footer-->
	</div>
	<!-- /.box -->

</section>
<!-- /.content -->

<!-- Inicio: Popup para creat/actualizar un proyecto-->
<div id="modal-project" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" ng-show="vm.mode == 1">Crear proyecto</h4>
				<h4 class="modal-title" ng-show="vm.mode == 2">Actualizar proyecto</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger alert-dismissible"  ng-if="vm.error != null">
					<div>
						<strong>Error!</strong> {{vm.error}}.
					</div>
				</div>
				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">Nombre (*)</label>
					<div class="col-md-7">
						<input type="text" id="InputText" ng-model="vm.project.name" class="form-control"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">KEY (*)</label>
					<div class="col-md-7">
						<input type="text" id="InputText" ng-model="vm.project.key" class="form-control"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">Descripción (*)</label>
					<div class="col-md-7">
						<textarea style="resize:none" id="InputText" ng-model="vm.project.description" class="form-control"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">Elejir plantilla (*) </label>
					<div class="col-md-7">
						<select required id="InputText"  ng-model="vm.templateId" class="form-control" data-ng-options="template._id as template.nameTemplate for template in vm.templates">
							<option value="">-- No indicar plantilla previa --</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" ng-show="vm.mode == 1" class="btn btn-success" ng-click="vm.createProject();">Crear proyecto</button>
				<button type="button" ng-show="vm.mode == 2" class="btn btn-success" ng-click="vm.updateProject();">Actualizar proyecto</button>
			</div>
		</div>
	</div>
</div>
<!-- Fin: Popup para crear/actualizar un proyecto-->

<!-- Inicio: Popup para creat/actualizar un proyecto-->
<div id="modal-app" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" ng-show="vm.mode == 1">Crear aplicación</h4>
				<h4 class="modal-title" ng-show="vm.mode == 2">Actualizar aplicación</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger alert-dismissible"  ng-if="vm.error != null">
					<div>
						<strong>Error!</strong> {{vm.error}}.
					</div>
				</div>
				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">Nombre (*)</label>
					<div class="col-md-7">
						<input type="text" id="InputText" ng-model="vm.app.name" class="form-control"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">Descripción (*)</label>
					<div class="col-md-7">
						<textarea style="resize:none" id="InputText" ng-model="vm.app.description" class="form-control"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">Proyecto (*) </label>
					<div class="col-md-7">
						<select required id="InputText" ng-model="vm.projectId" class="form-control" data-ng-options="project._id as project.name for project in vm.projects">
							<option value="" disabled="disabled">Seleccione un proyecto</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" ng-show="vm.mode == 1" class="btn btn-success" ng-click="vm.createAppProject();">Crear aplicación</button>
				<button type="button" ng-show="vm.mode == 2" class="btn btn-success" ng-click="vm.updateAppProject();">Actualizar Aplicación</button>
			</div>
		</div>
	</div>
</div>
<!-- Fin: Popup para crear/actualizar un proyecto-->
