<!-- Content Header (Page header) -->
<section class="content-header" ng-init="pl.init();">
	<h1>
		Proyectos
		<small>Mantenimiento y gestión de proyectos</small>
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Proyectos</li>
	</ol>
</section>

<!-- Main content -->
<section class="content" >

	<!-- Default box -->
	<div class="box box-info">
		<div class="box-header with-border">
			<h3 class="box-title">Configuración de proyectos</h3>
		</div>
		<div class="box-body" >
			<button id="crear-project" class="btn btn-default" data-toggle="modal" data-target="#modal-project"  ng-click="pl.mode = 1;"  >
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Crear proyecto
			</button>

			<div class="table-responsive my-table">
				<table id="table" bs-table-control="pl.bsTableProject"></table>
			</div>

		</div>
		<!-- /.box-body -->
		<div class="box-footer">
		Mantenimiento y gestión de proyectos
		</div>
		<!-- /.box-footer-->
	</div>
	<!-- /.box -->


	<!-- Inicio: Apps de los proyectos-->
	<div class="box box-success">
		<div class="box-header with-border">
			<h3 class="box-title">
					Aplicaciones de los proyectos
			</h3>
		</div>
		<div class="box-body" >

			<button id="crear-app" class="btn btn-default" data-toggle="modal" data-target="#modal-app"  ng-click="pl.mode = 1;"  >
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Crear aplicación
			</button>

			<div class="table-responsive my-table">
				<table id="table" bs-table-control="pl.bsTableApp"></table>
			</div>

		</div>
		<!-- /.box-body -->
		<div class="box-footer">
		Mantenimiento y gestión de proyectos
		</div>
		<!-- /.box-footer-->
	</div>
	<!-- Fin: Apps de los proyectos-->

</section>
<!-- /.content -->

<!-- Inicio: Popup para creat/actualizar un proyecto-->
<div id="modal-project" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" ng-show="pl.mode == 1">Crear proyecto</h4>
				<h4 class="modal-title" ng-show="pl.mode == 2">Actualizar proyecto</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger alert-dismissible"  ng-if="pl.error != null">
					<div>
						<strong>Error!</strong> {{pl.error}}.
					</div>
				</div>
				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">Nombre (*)</label>
					<div class="col-md-7">
						<input type="text" id="InputText" ng-model="pl.project.name" class="form-control"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">KEY (*)</label>
					<div class="col-md-7">
						<input type="text" id="InputText" ng-model="pl.project.key" class="form-control"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">Descripción (*)</label>
					<div class="col-md-7">
						<textarea style="resize:none" id="InputText" ng-model="pl.project.description" class="form-control"/>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" ng-show="pl.mode == 1" class="btn btn-success" ng-click="pl.createProject();">Crear proyecto</button>
				<button type="button" ng-show="pl.mode == 2" class="btn btn-success" ng-click="pl.updateProject();">Actualizar proyecto</button>
			</div>
		</div>
	</div>
</div>
<!-- Fin: Popup para crear/actualizar un proyecto-->

<!-- Inicio: Popup para crear/actualizar una aplicacion-->
<div id="modal-app" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" ng-show="pl.mode == 1">Crear aplicación</h4>
				<h4 class="modal-title" ng-show="pl.mode == 2">Actualizar aplicación</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger alert-dismissible"  ng-if="pl.error != null">
					<div>
						<strong>Error!</strong> {{pl.error}}.
					</div>
				</div>
				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">Nombre (*)</label>
					<div class="col-md-7">
						<input type="text" id="InputText" ng-model="pl.aplication.name" class="form-control"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">Descripción (*)</label>
					<div class="col-md-7">
						<textarea style="resize:none" id="InputText" ng-model="pl.aplication.description" class="form-control"/>
					</div>
				</div>

				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">Proyecto (*) </label>
					<div class="col-md-7">
						<select required id="InputText" ng-model="pl.aplication.project" class="form-control" data-ng-options="project._id as project.name for project in pl.projects">
							<option value="" disabled="disabled">Seleccione un proyecto</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="InputText" class="col-md-4 control-label">Elejir plantilla (*) </label>
					<div class="col-md-7">
						<select required id="InputText"  ng-model="pl.templateId" class="form-control" data-ng-options="template._id as template.nameTemplate for template in pl.templates">
							<option value="">-- No indicar plantilla previa --</option>
						</select>
					</div>
				</div>

				<div class="form-group row" ng-if="pl.templateId == 'upload'">
					<label for="InputText" class="col-md-4 control-label">Adjuntar plantilla (*) </label>
					<div class="col-md-7">
						<input type="file" ngf-select ng-model="pl.templateUpload" name="file" ngf-pattern="'.xml'"   ngf-max-size="20MB"/>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" ng-show="pl.mode == 1" class="btn btn-success" ng-click="pl.createAplication();">Crear aplicación</button>
				<button type="button" ng-show="pl.mode == 2" class="btn btn-success" ng-click="pl.updateAplication();">Actualizar Aplicación</button>
			</div>
		</div>
	</div>
</div>
<!-- Fin: Popup para crear/actualizar un proyecto-->
