
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Rol
      <small>Mantenimiento y gestión de roles</small>
    </h1>
    <ol class="breadcrumb">
      <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Rol</li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content" >
  
    <!-- Default box -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Roles de usuarios</h3>
      </div>
      <div class="box-body" ng-init="vm.loadRolList();">
          <div class="table-responsive my-table">
              <table id="table" bs-table-control="vm.bsTableRoles"></table>
          </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        Mantenimiento y gestión de roles
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  
  </section>
  <!-- /.content -->
