span.label button.btn-box-tool {
  color: #FFF;
}
.amcharts-chart-div a {
  display: none !important;
}
.widget-user .widget-user-header a {
  color: #FFF;
  font-weight: bold;
}
.widget-user .widget-user-header a .glyphicon {
  padding: 5px;
}
.widget-user .widget-user-header a:hover {
  color: #CCC;
}
.widget-user .box-footer {
  padding-top: 0px;
}
div.rele img {
  width: 150px;
}
div.box {
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}
.fc-content {
  cursor: pointer;
}
#loading-bar .bar {
  background: #333 !important;
  border-color: #333 !important;
}
#loading-bar-spinner .spinner-icon {
  border-color: #333 !important;
}
body header {
  display: none;
}
body aside {
  display: none;
}
body div.wrapper {
  background: #ecf0f5 !important;
}
body div.content-wrapper {
  margin-left: 0px;
}
body.skin-blue header {
  display: block;
}
body.skin-blue aside {
  display: block;
}
body.skin-blue div.content-wrapper {
  margin-left: 50px;
}
li.user-header {
  height: auto !important;
}
