span.label button.btn-box-tool {
  color: #FFF;
}
section.analytic ul.vars {
  margin: 0;
  padding: 0;
  list-style: none;
}
section.analytic ul.vars li {
  display: inline-block;
  margin: 0 .3em .3em 0;
}
section.analytic ul.vars li button {
  color: #FFF;
}
section.analytic form.form-inline div.form-group {
  margin: 5px;
}
.dashboard div.info-box {
  min-height: 55px;
}
.dashboard div.info-box-content {
  margin-left: 60px;
}
.dashboard span.info-box-icon {
  height: 55px;
  width: 60px;
  font-size: 20px;
  line-height: 60px;
}
.dashboard span.info-box-title {
  display: block;
  text-transform: uppercase;
}
.dashboard span.info-box-number {
  display: inline;
  font-size: 18px;
}
.dashboard span.info-box-date {
  display: inline;
  font-size: 12px;
}
.amcharts-chart-div a {
  display: none !important;
}
.widget-user .widget-user-header a {
  color: #FFF;
  font-weight: bold;
}
.widget-user .widget-user-header a .glyphicon {
  padding: 5px;
}
.widget-user .widget-user-header a:hover {
  color: #CCC;
}
.widget-user .box-footer {
  padding-top: 0px;
}
div.rele img {
  width: 150px;
}
div.box {
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}
.fc-content {
  cursor: pointer;
}
#loading-bar .bar {
  background: #333 !important;
  border-color: #333 !important;
}
#loading-bar-spinner .spinner-icon {
  border-color: #333 !important;
}
body header {
  display: none;
}
body aside {
  display: none;
}
body div.wrapper {
  background: #ecf0f5 !important;
}
body div.content-wrapper {
  margin-left: 0px;
}
body.skin-blue header {
  display: block;
}
body.skin-blue aside {
  display: block;
}
body.skin-blue div.content-wrapper {
  margin-left: 50px;
}
li.user-header {
  height: auto !important;
}
/*.main-footer{
  position: absolute;
}*/


.nav-wizard > li {
  float: left;
}
.nav-wizard > li > a {
  position: relative;
  background-color: #eeeeee;
}
.nav-wizard > li > a .badge {
  margin-left: 3px;
  color: #eeeeee;
  background-color: #428bca;
}
.nav-wizard > li:not(:first-child) > a {
  padding-left: 34px;
}
.nav-wizard > li:not(:first-child) > a:before {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #ffffff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.nav-wizard > li:not(:last-child) > a {
  margin-right: 6px;
}
.nav-wizard > li:not(:last-child) > a:after {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #eeeeee;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2;
}
.nav-wizard > li:first-child > a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nav-wizard > li:last-child > a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav-wizard > li.done:hover > a,
.nav-wizard > li:hover > a {
  background-color: #d5d5d5;
}
.nav-wizard > li.done:hover > a:before,
.nav-wizard > li:hover > a:before {
  border-right-color: #d5d5d5;
}
.nav-wizard > li.done:hover > a:after,
.nav-wizard > li:hover > a:after {
  border-left-color: #d5d5d5;
}
.nav-wizard > li.done > a {
  background-color: #e2e2e2;
}
.nav-wizard > li.done > a:before {
  border-right-color: #e2e2e2;
}
.nav-wizard > li.done > a:after {
  border-left-color: #e2e2e2;
}
.nav-wizard > li.active > a,
.nav-wizard > li.active > a:hover,
.nav-wizard > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}
.nav-wizard > li.active > a:after {
  border-left-color: #428bca;
}
.nav-wizard > li.active > a .badge {
  color: #428bca;
  background-color: #ffffff;
}
.nav-wizard > li.disabled > a {
  color: #777777;
}
.nav-wizard > li.disabled > a:hover,
.nav-wizard > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: #eeeeee;
  cursor: default;
}
.nav-wizard > li.disabled > a:before {
  border-right-color: #eeeeee;
}
.nav-wizard > li.disabled > a:after {
  border-left-color: #eeeeee;
}
.nav-wizard.nav-justified > li {
  float: none;
}
.nav-wizard.nav-justified > li > a {
  padding: 10px 15px;
}
@media (max-width: 768px) {
  .nav-wizard.nav-justified > li > a {
    border-radius: 4px;
    margin-right: 0;
  }
  .nav-wizard.nav-justified > li > a:before,
  .nav-wizard.nav-justified > li > a:after {
    border: none !important;
  }
}
