span.label button.btn-box-tool {
  color: #FFF;
}
section.analytic ul.vars {
  margin: 0;
  padding: 0;
  list-style: none;
}
section.analytic ul.vars li {
  display: inline-block;
  margin: 0 .3em .3em 0;
}
section.analytic ul.vars li button {
  color: #FFF;
}
section.analytic form.form-inline div.form-group {
  margin: 5px;
}
.dashboard div.info-box {
  min-height: 55px;
}
.dashboard div.info-box-content {
  margin-left: 60px;
}
.dashboard span.info-box-icon {
  height: 55px;
  width: 60px;
  font-size: 20px;
  line-height: 60px;
}
.dashboard span.info-box-title {
  display: block;
  text-transform: uppercase;
}
.dashboard span.info-box-number {
  display: inline;
  font-size: 18px;
}
.dashboard span.info-box-date {
  display: inline;
  font-size: 12px;
}
.amcharts-chart-div a {
  display: none !important;
}
.widget-user .widget-user-header a {
  color: #FFF;
  font-weight: bold;
}
.widget-user .widget-user-header a .glyphicon {
  padding: 5px;
}
.widget-user .widget-user-header a:hover {
  color: #CCC;
}
.widget-user .box-footer {
  padding-top: 0px;
}
div.rele img {
  width: 150px;
}
div.box {
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}
.fc-content {
  cursor: pointer;
}
#loading-bar .bar {
  background: #333 !important;
  border-color: #333 !important;
}
#loading-bar-spinner .spinner-icon {
  border-color: #333 !important;
}
body header {
  display: none;
}
body aside {
  display: none;
}
body div.wrapper {
  background: #ecf0f5 !important;
}
body div.content-wrapper {
  margin-left: 0px;
}
body.skin-blue header {
  display: block;
}
body.skin-blue aside {
  display: block;
}
body.skin-blue div.content-wrapper {
  margin-left: 50px;
}
li.user-header {
  height: auto !important;
}
/*.main-footer{
  position: absolute;
}*/
